<div class="container">
  <h2 class="my-3">Consideraciones para una atención más rápida</h2>
  <p class="text-uppercase">Siga los siguientes consejos para tener una atención más rápida y sin contratiempos</p>
  <div class="row my-3">
    <div class="col-12">
      <div id="servicios">
        <div class="card">
          <div class="card-header" id="servicio1">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion1 aria-expanded="true"
                aria-controls="descripcion1">
                1.- Verificar que todos los documentos sean los requeridos
              </button>
            </h2>
          </div>
          <!--#servicio1-->
          <div id="descripcion1" class="collage show" aria-labelledby="servicio1" data-parent="#servicios">
            <div class="card-body">
              INGRESAR LISTA DE DOCUMENTOS
            </div>
          </div>
          <!--#descripcion1-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio2">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion2 aria-expanded="true"
                aria-controls="descripcion2">
                2.- Verificar estado de cuotas en caso de poseer algun terreno.
              </button>
            </h2>
          </div>
          <!--#servicio2-->
          <div id="descripcion2" class="collage show" aria-labelledby="servicio2" data-parent="#servicios">
            <div class="card-body">
              Por favor ingrese con su rut y clave desde la pagina principal, luego corrobore que sus cuotas estan pagadas a la fecha.
            </div>
          </div>
          <!--#descripcion2-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio3">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion3 aria-expanded="true"
                aria-controls="descripcion3">
                3.- Realizar reparaciones en tumbas:
              </button>
            </h2>
          </div>
          <!--#servicio3-->
          <div id="descripcion3" class="collage show" aria-labelledby="servicio3" data-parent="#servicios">
            <div class="card-body">
                -Dirigirse a la oficina parroquial. <br>
                -Solicitar contrato de repación.
            </div>
          </div>
          <!--#descripcion3-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio4">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion4 aria-expanded="true"
                aria-controls="descripcion4">
                4.- INGRESE CONSIDERACION
              </button>
            </h2>
          </div>
          <!--#servicio4-->
          <div id="descripcion4" class="collage show" aria-labelledby="servicio4" data-parent="#servicios">
            <div class="card-body">
                INGRESE DETALLE CONSIDERACION
            </div>
          </div>
          <!--#descripcion4-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio5">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion5 aria-expanded="true"
                aria-controls="descripcion5">
                5.- INGRESE CONSIDERACION
              </button>
            </h2>
          </div>
          <!--#servicio5-->
          <div id="descripcion5" class="collage show" aria-labelledby="servicio5" data-parent="#servicios">
            <div class="card-body">
                INGRESE DETALLE CONSIDERACION
            </div>
          </div>
          <!--#descripcion5-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio6">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion6 aria-expanded="true"
                aria-controls="descripcion6">
                6.- INGRESE CONSIDERACION
              </button>
            </h2>
          </div>
          <!--#servicio6-->
          <div id="descripcion6" class="collage show" aria-labelledby="servicio6" data-parent="#servicios">
            <div class="card-body">
                INGRESE DETALLE CONSIDERACION
            </div>
          </div>
          <!--#descripcion6-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio7">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion7 aria-expanded="true"
                aria-controls="descripcion7">
                7.- INGRESE CONSIDERACION
              </button>
            </h2>
          </div>
          <!--#servicio7-->
          <div id="descripcion7" class="collage show" aria-labelledby="servicio7" data-parent="#servicios">
            <div class="card-body">
                INGRESE DETALLE CONSIDERACION
            </div>
          </div>
          <!--#descripcion7-->
        </div>
        <!--.card-->
      </div>
      <!--#servicios-->
    </div>
  </div>
</div>