<div class="container">
  <h2 class="my-3">Consideraciones para una atención más rápida</h2>
  <p class="text-uppercase">Siga los siguientes consejos para tener una atención más rápida y sin contratiempos</p>
  <div class="row my-3">
    <div class="col-12">
      <div id="servicios">
        <div class="card">
          <div class="card-header" id="servicio1">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion1 aria-expanded="true"
                aria-controls="descripcion1">
                1.- Verificar el estado de los vidrios (ventanas laterales, portalón trasero) y parabrisas del vehículo:
              </button>
            </h2>
          </div>
          <!--#servicio1-->
          <div id="descripcion1" class="collage show" aria-labelledby="servicio1" data-parent="#servicios">
            <div class="card-body">
              Que éstos no tengan trizaduras o quebraduras que puedan obstaculizar la visual del conductor, ni piquetes
              con aristas cortantes.
              Ningún vidrio pude contar con publicidad, pues dificulta la visual desde y hacia el interior del vehículo.
            </div>
          </div>
          <!--#descripcion1-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio2">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion2 aria-expanded="true"
                aria-controls="descripcion2">
                2.- Verificar estado de los cinturones de seguridad.
              </button>
            </h2>
          </div>
          <!--#servicio2-->
          <div id="descripcion2" class="collage show" aria-labelledby="servicio2" data-parent="#servicios">
            <div class="card-body">
              Que presenten un buen funcionamiento, especialmente su anclaje o hebilla de sujeción y fijación.
            </div>
          </div>
          <!--#descripcion2-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio3">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion3 aria-expanded="true"
                aria-controls="descripcion3">
                3.- Verificar estado de focos y faroles de señalización, y luces de éstos:
              </button>
            </h2>
          </div>
          <!--#servicio3-->
          <div id="descripcion3" class="collage show" aria-labelledby="servicio3" data-parent="#servicios">
            <div class="card-body">
                -Focos y Faroles de Señalización: Verificar que sus micas no presenten quebraduras o tengan objetos sobrepuestos.
                -Luces: Verificar el encendido de las luces altas y bajas, de señalizadores izquierdo y derecho, así como luces de retroceso y tercera luz de freno.
            </div>
          </div>
          <!--#descripcion3-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio4">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion4 aria-expanded="true"
                aria-controls="descripcion4">
                4.- Verificar estado de Neumáticos y Llantas:
              </button>
            </h2>
          </div>
          <!--#servicio4-->
          <div id="descripcion4" class="collage show" aria-labelledby="servicio4" data-parent="#servicios">
            <div class="card-body">
                - Verificar que los neumáticos no presenten deformaciones ni cortes con telas a la vista, en ninguna de sus caras.
                - Que las ruedas cuenten con todos los pernos de sujeción.
                - Que los neumáticos no se encuentren redibujados.
                - Las llantas no deben presentar fisuras, soldaduras ni deformaciones.
            </div>
          </div>
          <!--#descripcion4-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio5">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion5 aria-expanded="true"
                aria-controls="descripcion5">
                5.- Verificar una correcta apertura y cierre de las puertas del Vehículo.
              </button>
            </h2>
          </div>
          <!--#servicio5-->
          <div id="descripcion5" class="collage show" aria-labelledby="servicio5" data-parent="#servicios">
            <div class="card-body">
              ----------
            </div>
          </div>
          <!--#descripcion5-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio6">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion6 aria-expanded="true"
                aria-controls="descripcion6">
                6.- Verificar la existencia y estado de las Placas Patentes.
              </button>
            </h2>
          </div>
          <!--#servicio6-->
          <div id="descripcion6" class="collage show" aria-labelledby="servicio6" data-parent="#servicios">
            <div class="card-body">
              -----------
            </div>
          </div>
          <!--#descripcion6-->
        </div>
        <!--.card-->
        <div class="card">
          <div class="card-header" id="servicio7">
            <h2 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target=#descripcion7 aria-expanded="true"
                aria-controls="descripcion7">
                7.- Verificar documentación del vehículo.
              </button>
            </h2>
          </div>
          <!--#servicio7-->
          <div id="descripcion7" class="collage show" aria-labelledby="servicio7" data-parent="#servicios">
            <div class="card-body">
              Al momento de presentarse en la planta se deben acompañar los respectivos certificados de revisión técnica y análisis de gases anteriores. Si éstos están extraviados, se deberá presentar un Certificado de Identificación y Anotaciones Vigentes emitido por el R. Civil e Identificación y hacer una declaración jurada simple en la misma planta de revisión. Si existen dudas, la planta de revisión se comunicará con la Seremi de Transportes, que finalmente autorizarán la revisión, si la situación así lo amerita.
            </div>
          </div>
          <!--#descripcion7-->
        </div>
        <!--.card-->
      </div>
      <!--#servicios-->
    </div>
  </div>
</div>