<div class="container">
    <h1>Vehículos</h1>
    <div class="row my-3">
      <div class="col-2 my-auto">
        Filtrar por:
      </div>
      <div class="col-4 my-auto">
        <input type="text">
      </div>
      <div class="col-6 text-right">
          <button type="button" name="editar" class="btn btn-primary btn-lg" routerLink="/personal-inicio/vehiculos-form">Agregar vehículo</button>
      </div>
  
    </div>
    <div class="card mb-3">
      <div class="card-header text-center">
        Lista de vehículos
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Patente</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Numero motor</th>
                  <th scope="col">Numero chasis</th>
                  <th scope="col">Año</th>
                  <th scope="col">Color</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of vehiculos">
                  <th scope="row">{{v.patente}}</th>
                  <td>{{v.tipoVehiculo}}</td>
                  <td>{{v.marca}}</td>
                  <td>{{v.modelo}}</td>
                  <td>{{v.numeroMotor}}</td>
                  <td>{{v.numeroChasis}}</td>
                  <td>{{v.anio}}</td>
                  <td>{{v.color}}</td>
                  <td><button type="button" name="editar" class="btn btn-primary">editar</button></td>
                  <td><button type="button" name="eliminar" class="btn btn-danger">eliminar</button></td>
                </tr>
              </tbody>
          </table>
        </div><!--.table-responsive-->  
      </div>
    </div>
  
  </div> 
