<div class="container"><!--CONTENEDOR PRINCIPAL-->

  <nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio']" href="#">personal-inicio</a></li>
      <li class="breadcrumb-item"><a  [routerLink]="['/personal-inicio/vehiculos']" href="#">Occisos</a></li>
      <li class="breadcrumb-item active" aria-current="page">formulario-Occisos</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->

    <h1 class="my-3">{{titulo}}</h1>

    <div class="card my-5"><!--CARD CONTENEDOR DEL FORMULARIO-->
      <div class="card-header">
        Ingrese los datos del occisos
      </div>
      <div class="card-body"><!--CARD BODY-->
  
          <form [formGroup]="formVehiculo" (ngSubmit)="saveData()" novalidate> <!--FORMULARIO VEHICULO-->

            <div class="row"><!--ROW-->
              <div class="col-6"><!--COL-6-->
                <h6 class="border-bottom my-2 pb-2">Datos generales</h6>
                <div class="form-group row">
                  <label for="inputPatente" class="col-sm-4 col-form-label">Nombre</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="patente" [(ngModel)]="vehiculo.patente" id="inputPatente" placeholder="Patente">
                    <div *ngIf="formVehiculo.get('patente').errors && (formVehiculo.get('patente').touched
                          || formVehiculo.get('patente').dirty)"
                    class="alert alert-danger">El nombre debe ser ingresado
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputTipo" class="col-sm-4 col-form-label">Apellido</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="tipo_vehiculo" [(ngModel)]="vehiculo.tipo_vehiculo" id="inputTipo" placeholder="Tipo de vehículo">
                    <div *ngIf="formVehiculo.get('tipo_vehiculo').errors && (formVehiculo.get('tipo_vehiculo').touched
                          || formVehiculo.get('tipo_vehiculo').dirty)"
                    class="alert alert-danger">El apellido debe ser entregado
                    </div>
                  </div>
                </div>
               
                
                <div class="form-group row">
                  <div class="col-sm-10"><!--boton ingresar no borrar-->
                    <button type="submit" [disabled]="!formVehiculo.valid" (click)='create()' class="btn btn-primary" *ngIf="!vehiculo.id else elseBlock">Ingresar</button>
                    <ng-template #elseBlock>
                      <button class="btn btn-primary" role="button" (click)='update()' >Editar</button>
                    </ng-template>
                  </div>
                </div>
              </div><!--.FIN COL-6-->
              <div class="col-6"><!--COL-6-->
                  <h6 class="border-bottom my-2 pb-2">Aspectos generales</h6>
                  <div class="form-group row">
                    <label for="FechaDefuncion" class="col-sm-4 col-form-label">Fecha Defunción</label>
                    <div class="col-sm-8">
                      <input type="date" class="form-control" formControlName="FechaDefuncion" [(ngModel)]="vehiculo.nro_motor" id="FechaDefuncion" placeholder="31/12/2019">
                      <div *ngIf="formVehiculo.get('FechaDefuncion').errors && (formVehiculo.get('FechaDefuncion').touched
                          || formVehiculo.get('FechaDefuncion').dirty)"
                      class="alert alert-danger">Debe ingresar una fecha de defunción.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="numeroChasis" class="col-sm-4 col-form-label">Número de patio</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" formControlName="nro_chasis" [(ngModel)]="vehiculo.nro_chasis" id="nro_chasis" placeholder="Número de patio">
                      <div *ngIf="formVehiculo.get('patente').errors && (formVehiculo.get('nro_chasis').touched
                          || formVehiculo.get('nro_chasis').dirty)"
                      class="alert alert-danger">Debe especificar el numero de patio
                      </div>
                    </div>
                  </div>              
              </div><!--FIN COL-6-->
            </div><!--FIN ROW-->

          </form><!--FIN FORMULARIO VEHICULO-->
  
      </div><!--FIN CARD BODY-->
    </div><!--FIN CARD CONTENEDORA FORMULARIO-->

  </div><!--FIN CONTENEDOR PRINCIPAL-->