<h2>Clientes registrados</h2>

<div>
    <button type="button" class="btn btn-success"
            (click)="formularioCliente()">Agregar</button>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Patente</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>